.button {
  display: inline-block;
  min-width: 150px;
  padding: 8px 16px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2em;
  border: 1px solid;
  border: none;
  cursor: pointer;
  transition: .2s ease-out;
  font-weight: 500;
  
  &--primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-color: var(--color-primary);
    &:hover {
      background-color: var(--color-secondary);
      border-color: var(--color-secondary);
    }
  }

}