.beer-filter-item {
  margin-bottom: 1em;
  max-width: 100%;
  box-sizing: border-box;
  &__label {
    display: block;
    margin-bottom: 0.2em;
    font-weight: 500;
  }

  input[type="number"]{
    width: 90px;
  }
}